<div class="container mt-3">
    <div class="jumbotron" style="min-height: 20vh !important">
        <h1 style="color:blue; float: left;" id="h1info"></h1>
    </div>
</div>

    <script  type="module" src="js/logout.js"></script>

